@use "../config" as *;
// --- ↑ update this path if you're importing CodyFrame as npm module

/* -------------------------------- 

File#: _1_boxed-feature
Title: Boxed Feature
Descr: Feature section with a "boxed" layout
Usage: codyhouse.co/license

-------------------------------- */
