.intro {
  background-color: var(--color-black);
  height: calc(100vh - 70px);

  .intro__background-image {
    background-image: url("/img/svg/main-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    svg {
      width: 50%;
      height: auto;
    }
  }
}
